trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss,script'
}
process {
withName:bwa {
  executor = 'slurm'
  cpus = 40
  memory = '120.GB'
  time='96.h'
  queue = 'unlimitq'
}
}
process {
withName:genotyping_ug {
  executor = 'slurm'
  cpus = 40
  memory = '120 GB'
  time='96.h'
  queue = 'unlimitq'
}
}
params {
  saveReference = true
  igenomesIgnore = true
  // Max resources requested by a normal node on genotoul.
  max_memory = 120.GB
  max_cpus = 48
  max_time = 96.h
}

